/* Estilos generales */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    color: #333;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Estilo para el header */
header {
    background-color: #007bff;
    color: white;
    padding: 1.5em 0;
}
section{
margin: 2em auto;
width: 80%;

}
footer{
background-color: black;
color: white;
}
